{% extends "base.html" %}

{% block title %}是否需要手工{% endblock %}

{% block content %}
    <h2>是否需要手工？</h2>
    <form method="POST" accept-charset="UTF-8">
        <div class="radio-group">
            <label>
                <input type="radio" name="need_handmade" value="yes" required> 
                <span>是</span>
            </label>
            <label>
                <input type="radio" name="need_handmade" value="no"> 
                <span>否</span>
            </label>
        </div>
        <button type="submit">下一步</button>
    </form>
{% endblock %}