blinker==1.9.0
click==8.1.8
colorama==0.4.6 ; python_version >= "3.9" and platform_system == "Windows"
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Login==0.6.3
flask-talisman==1.1.0
Flask-WTF==1.2.2
gunicorn==22.0.0
importlib-metadata==7.0.1 ; python_version < "3.10" and python_version >= "3.9"
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.2
packaging==23.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
six==1.17.0
tzdata==2025.1
Werkzeug==3.1.3
WTForms==3.2.1
