{% extends 'admin/master.html' %}

{% block body %}
    <h1>{{ admin_view.name }}</h1>
    {% if headers and data %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for col in headers %}
                            {% set cell_value = row.get(col) %}
                            {% if cell_value is not none %}
                                <td>{{ cell_value }}</td>
                            {% else %}
                                <td>无数据</td>
                            {% endif %}
                        {% endfor %}
                        <td><a href="{{ url_for('.edit_view') }}">编辑</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>未找到数据。</p>
    {% endif %}
{% endblock %}